#updateProfile[b-o6czxgz0s2] {
    display: flex;
    flex-direction: column;
}

.profile-table[b-o6czxgz0s2] {
    width:100%;
    table-layout: auto;
    padding-left:20px;
    padding-right:20px;
}

.profile-table-header[b-o6czxgz0s2] {
    border-bottom: 1px solid black;
}

.profile-table td[b-o6czxgz0s2] {
    padding:10px;
}

.profile-table-row[b-o6czxgz0s2]{
    border-bottom: 1px solid lightgrey;
}

.profile-table-row:hover[b-o6czxgz0s2]{
    background-color: lightblue;
}

td.profile-actions[b-o6czxgz0s2]{
    text-align: center;}